FREELANCE SERVICE AGREEMENT

This Agreement is between {{ author }} ("Freelancer") and {{ client }} ("Client").

Project: {{ project }}
Scope: {{ scope }}

Payment: ${{ price }} due as follows: {{ payment_terms }}

Deliverables: {{ deliverables }}

Agreement Date: {{ date }}

Signatures:
Freelancer: ____________________
Client: ________________________
